<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ezstudio.framework">

    <application>
        <provider
            android:name=".MainBinderProvider"
            android:authorities="process_dispatcher_main" />

        <provider
            android:name=".OtherBinderProvider"
            android:authorities="process_dispatcher_other"
            android:process=":other"/>
    </application>

</manifest>